@import './../../scss/base/mixins';
@import './../../scss/base/variables';

.highlighted-wrapper {
  @include               push--auto();
  display:               grid;
  grid-template-columns: 1fr 1fr;
  max-width:             1150px;
  padding:               80px 20px;
  width:                 100%;

  @media screen and ($width-name : map-get($break, "desktop")) {
    padding-left:  80px;
    padding-right: 80px;
  }

  @media screen and ($width-name : map-get($break, "desktop-small")) {
    padding-left:  100px;
    padding-right: 100px;
  }

  @media screen and ($width-name : map-get($break, "tablet")) {
    grid-template-columns: 1fr;
    padding-left:          0px;
    padding-right:         0px;
  }

  &__item {
    background-position: center;
    background-size:     cover;
    height:              600px;
    transition:          $basic-slow;
    overflow:            hidden;
    position:            relative;

    @media screen and ($width-name : map-get($break, "desktop")) {
      height: 500px;
    }

    @media screen and ($width-name : map-get($break, "desktop-small")) {
      height: 400px;
    }

    @media screen and ($width-name : map-get($break, "tablet")) {
      height: 750px;
    }

    &--image {
      position: absolute;
      top:      0;
      left:     0;
      width:    100%;
      z-index:  1;
    }
  }
}

.project-link {
  display: block;
  height:  100%;
}

.content-project {
  height:     100%;
  padding:    50px 50px 0px 40px;
  position:   relative;
  transition: $basic;
  z-index:    2;
  
  &__item {
    position: relative;
    width:    100%;

    &--subtitle {
      @include        font('Heavy', 10px, $color-secondary-hex);
      letter-spacing: 0.2em;
      padding-bottom: 30px;
      text-transform: uppercase;
    }

    &--title {
      @include font('Book', 48px, $color-secondary-hex);

      @media screen and ($width-name : map-get($break, "tablet-wide")) {
       font-size: 30px; 
      }
    }
  }
}

.text-wrapper {
  position:   relative;
  top:        50px;
  transition: $basic-slow;
  opacity:    0;
}

.img-wrapper {
  position: absolute;
  top:      0;
  width:    100%;

  &__item {
    transition: $basic-super-slow;
    width:      100%;
  }
}