@import './../../scss/base/variables';

.loader {
  display:  block;
  height:   100vh;
  position: relative;
  width:    100%;

  &__item {
    animation-name:            loader;
    animation-duration:        1s;
    animation-iteration-count: infinite;
    border-radius:             100%;
    height:                    60px;
    left:                      50%;
    opacity:                   0.4;
    position:                  absolute;
    top:                       50%;
    transform:                 scale(0);
    width:                     60px;
    background-color:          $color-secondary-hex;

  }
}

@keyframes loader {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}