@import './../../scss/base/mixins';
@import './../../scss/base/variables';

.more {
  height:   100vh;
  position: relative;
}

.more-projects {
  position:   absolute;
  text-align: center;
  transition: $basic;
  top:        45%;
  width:      100%;

  @media screen and ($width-name : map-get($break, "tablet-small")) {
    padding: 0 50px;
  }

  &__item {
    @include    font-serif('BoldA', 85px, $color-secondary-hex);
    cursor:     pointer;
    display:    inline;
    transition: $basic;

    @media screen and ($width-name : map-get($break, "desktop-small")) {
      font-size: 60px;
    }

    @media screen and ($width-name : map-get($break, "tablet-small")) {
      font-size: 42px;
    }
  }
}

.arrow-wrapper {
  display:    inline;
  position:   relative;
  left:       250px;
  transition: $basic;

  @media screen and ($width-name : map-get($break, "desktop-small")) {
    left: 180px;
  }

  @media screen and ($width-name : map-get($break, "tablet-small")) {
    left: 130px;
  }

  @media screen and ($width-name : map-get($break, "phone")) {
    left: 100px;
  }
}