@import './../../scss/base/mixins';
@import './../../scss/base/variables';

.clients {
  padding-bottom: 180px;
  padding-top:    120px;
}

.clients-wrapper {
  @include         push--auto();
  display:         flex;
  flex-wrap:       wrap;
  justify-content: flex-start;
  max-width:       1200px;
  padding:         50px 100px;
  transition:      $basic;
  width:           100%;

  @media screen and ($width-name : map-get($break, "tablet")) {
    padding: 20px 0px;
  }

  &__item {
    display:         flex;
    justify-content: center;
    transition:      $basic;
    width:           25%;

    @media screen and ($width-name : map-get($break, "desktop-small")) {
      width: 33.3%;
    }

    @media screen and ($width-name : map-get($break, "tablet")) {
      width: 50%;
    }

    &--img {
      width: 100%;

      @media screen and ($width-name : map-get($break, "tablet")) {
        width: 70%;
      }
    }
  }
}