@import './variables';

* {
  box-sizing: border-box;
}

html {
  @include    font();
  min-height: 100vh;
}

body {
  background-color:        $color-primary-hex;
  -moz-osx-font-smoothing: grayscale;
  transition:              $basic;
  overflow-x:              hidden;
  height:                  100%;
}

p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  color:           inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}

ul {
  padding-left: 0px;
}

.wrapper {
  @include   push--auto();
  max-width: 800px;
  width:     100%;

  @media screen and ($width-name: map-get($break, "desktop")) {
    margin:       0;
    padding-left: 60px;
  }

  @media screen and ($width-name : map-get($break, "desktop-small")) {
    padding-left: 100px;
  }

  @media screen and ($width-name : map-get($break, "tablet")) {
    padding-left: 20px;
  }
}