@mixin pseudo($display: block, $pos: absolute, $content: '') {
  content:  $content;
  display:  $display;
  position: $pos;
}

@mixin font($family: sans-serif, $size: inherit, $color: inherit, $lh: 1.3) {
  color:       $color;
  font-size:   $size;
  font-style:  normal;
  font-weight: normal;
  line-height: $lh;
  @if $family {
    font-family: 'AvenirLTStd-#{$family}';
  }
}

@mixin font-serif($family: serif, $size: inherit, $color: inherit, $lh: 1.3) {
  color:       $color;
  font-size:   $size;
  font-style:  normal;
  font-weight: normal;
  line-height: $lh;
  @if $family {
    font-family: 'AmerigoBT-#{$family}'
  }
}

@mixin push--auto {
  margin: {
    top:    0;
    right:  auto;
    left:   auto;
    bottom: 0;
  }
}

@mixin responsive-ratio($x,$y, $pseudo: false) {
  $padding: unquote( ( $y / $x ) * 100 + '%' );
  @if $pseudo {
      &:before {
          @include     pseudo($pos: relative);
          width:       100%;
          padding-top: $padding;
      }
  } @else {
      padding-top: $padding;
  }
}
// usage example
// div {
//   @include responsive-ratio(16, 9);
// }

@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);

    @if $type==max {
      $width: $width - 1px;
    }

    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}
// usage example
// .site-header {
//   padding: 2rem;
//   font-size: 1.8rem;

//   @include mq('tablet-wide') {
//     padding-top: 4rem;
//     font-size: 2.4rem;
//   }
// }