@import './../base/fonts';

// Typography
$font-primary: 'AvenirLTStd-Heavy', sans-serif;

// Colors
$color-primary-hex:   #263265;
$color-secondary-hex: #ffffff;

// Sizes
$size-base: 15px;

// Media queries
$width-name: max-width;
$break: (
  "phone"         : 400px,
  "phone-wide"    : 480px,
  "phablet"       : 560px,
  "tablet-small"  : 640px,
  "tablet"        : 768px,
  "desktop-small" : 960px,
  "tablet-wide"   : 1024px,
  "desktop"       : 1248px,
  "desktop-wide"  : 1440px,
);

// Transition
$basic:            all 0.4s ease;
$basic-slow:       all 0.6s ease;
$basic-super-slow: all 1s ease;
$smooth:           all 0.4s ease-in-out;