@import './../../scss/base/variables';

.contact {
  bottom:   30px;
  cursor:   pointer;
  position: fixed;
  right:    20px;
}

#circle {
  transition: $basic;
}

#bubble {
  fill:       $color-primary-hex;
  transition: $basic;
}

#bubble-lines {
  fill:       $color-secondary-hex;
  transition: $basic;
}