@import './../../scss/base/mixins';
@import './../../scss/base/variables';

.header-wrapper {
  align-items:     center;
  display:         flex;
  height:          120px;
  justify-content: space-between;
  padding-left:    70px;
  padding-right:   70px;
  position:        fixed;
  transition:      $basic;
  width:           100%;
  z-index:         2;

  @media screen and ($width-name : map-get($break, "tablet-wide")) {
    height:        70px;
    padding-left:  20px;
    padding-right: 20px;
  }
}

.logo-wrapper {
  position: relative;
  z-index:  2;
}

.main-menu {

  &__item {
    @include        font('Heavy', $size-base, $color-secondary-hex);
    display:        inline;
    padding:        20px;
    text-transform: capitalize;

    &--first {
      padding-left: 0px;
    }
  }

  @media screen and ($width-name : map-get($break, "tablet")) {
    display: none;
  }
}

.nav-mobile-wrapper {
  display: none;
  width:   100%;

  @media screen and ($width-name : map-get($break, "tablet")) {
    display: block;
  }
}

.burger {
  cursor:   pointer;
  position: relative;
  width:    25px;
  z-index:  2;

  &__item {
    background-color: $color-secondary-hex;
    height:           1px;
    margin-bottom:    6px;
    transition:       $smooth;

    &--last {
      margin-bottom: 0px;
    }
  }
}

.nav-mobile {
  background-color: $color-primary-hex;
  display:          none;
  height:           100vh;
  left:             0;
  overflow:         hidden;
  position:         fixed;
  top:              0;
  width:            100%;
  z-index:          1;
}

.mobile-menu {
  left:     20px;
  position: absolute;
  top:      120px;
  
  &__item {
    @include       font('Book', 35px, $color-secondary-hex);
    margin-bottom: 10px;
  }
}
