@import './../../scss/base/mixins';
@import './../../scss/base/variables';

.content-wrapper {
  opacity:    0;
  height:     100vh;
  transition: $basic-slow;
  width:      100%;
}

.intro {
  background-position:   center;
  background-size:       cover;
  background-attachment: fixed;
  height:                100%;
  width:                 100%;
}

.content-header {
  position: relative;
  top:      28%;

  &__item {
    width: 100%;

    
    &--subtitle {
      @include        font('Heavy', 10px, $color-secondary-hex);
      letter-spacing: 0.2em;
      padding-bottom: 30px;
      text-transform: uppercase;
    }
    
    &--title {
      @include       font('Book', 45px, $color-secondary-hex);
      padding-right: 250px;
      transition:    $basic;
      width:         100%;
      
      @media screen and ($width-name : map-get($break, "tablet")) {
        font-size:     35px;
        padding-right: 0px;
        width:         100%;
      }
    }
  }
}

.scroll-wrapper {
  background-image: linear-gradient(to bottom,  rgba(38, 50, 101, 0), 
                                                rgba(38, 50, 101, 1) 75%);
  bottom:           0;
  height:           400px;
  position:         absolute;
  width:            100%;


  &__item {
    height:    100%;
    max-width: 800px;
    width:     100%;

    &:after {
      animation:                 scroll;
      animation-duration:        2s;
      animation-iteration-count: infinite;
      @include                   pseudo();
      background-color:          $color-secondary-hex;
      bottom:                    20%;
      height:                    30%;
      transform:                 scaleY(0);
      transform-origin:          top;
      width:                     1px;
    }
  }
}

.hideLine {

  &:after {
    height: 0;
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: scaleY(0);
    transform:         scaleY(0);
  }
  50% {
    -webkit-transform: scaleY(1);
    transform:         scaleY(1);
    transform-origin:  top;
  }
  51% {
    transform-origin: bottom;
  }
  100% {
    -webkit-transform: scaleY(0);
    transform:         scaleY(0);
    transform-origin:  bottom;
  }
}