@import './../../scss/base/mixins';
@import './../../scss/base/variables';

.footer-wrapper {
  width: 100%;

  &__item {
    @include         font('Light', 12px, $color-secondary-hex);
    bottom:          20px;
    cursor:          pointer;
    left:            20px;
    text-decoration: underline;
    position:        relative;
  }
}